.btn{
    background-color: #222;
    color: #fff;
    padding: 0.5em 1em; /* 0.5 para vertical e 1em para horizontal*/
    text-decoration: none;
    transition: 0.5s;
}

.btn:hover{
    color: #ffbb33;
}